* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1600px;
}

.page-header-wrp {
    min-height: 75px;
    width: 100%;
    background: #222222;    
}

.page-header-wrp ul li{
    list-style-type: non;
    display: inline;
}

.logo {
    margin-left: 231px;
    margin-top: 18px;
}

.search-form{
    display: inline;
}

.search-btn-svg {
    margin-top: 28px;
    margin-left: 41px;
    fill: #E8E8E8;
}

.search-btn {
    visibility: hidden;
    height: 30px;
    width: 300px;
}

.search-btn:hover {
    visibility: visible;
    height: 30px;
    width: 300px;
}

.search-btn-svg:hover {
    cursor: pointer;
    fill: red;
}

.menu-btn {
    margin-left: 559px;
    border: none;
    background-color: transparent;
    outline: none;
}

.menu-btn-svg {
    fill: #E8E8E8;
}

.menu-btn-svg:hover {
    cursor: pointer;
    fill: red;
}

.account-btn {
    margin-left: 31px;
    margin-top: 22px;
    border: none;
    background-color: transparent;
    outline: none;
    fill: #E8E8E8;
}

.account-btn:hover {
    cursor: pointer;
    fill: red;
}

.basket-btn {
    margin-left: 31px;
    border: none;
    background-color: transparent;
    outline: none;
    fill: #E8E8E8;
}

.basket-btn:hover {
    cursor: pointer;
    fill: red;
}

.page-header-banner {
    display: flex;
    background: #F1E4E6;
    background-image: url(img/background.png);
    padding-left: 864px;
    height: 764px;
}

.band {
    margin-right: 4%;
    width: 12px;
    height: 92px;
    margin-top: 290px;
}

.text_content {
    text-transform: uppercase;
    margin-top: 290px;
}

.content {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    width: 377px;
    color: #222222;
}

.content_1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44, 4px;
    color: #222222;
}

.content_2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44, 4px;
    color: #F16D7F;
}

.categories {
    display: flex;
    padding-left: 230px;
    font-family: 'Lato';
}

.image-woman {
    position: relative;
    width: 360px;
    text-transform: uppercase;
}

.image-woman:hover {
    cursor: pointer;
}

.image-woman img {
    display: block;
    position: relative;
    width: 360px;
    height: 260px;
}

.image-woman .image-woman-content {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(18, 26, 63, 0.3), rgba(33, 22, 22, 0.7));
    line-height: 2;
}

.image-woman,
.image-woman-header {
    margin-top: 80px;
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: 400;
}

.image-woman p {
    color: #F16D7F;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}

.image-man {
    position: relative;
    width: 360px;
    text-transform: uppercase;
    margin-left: 30px;
}

.image-man:hover {
    cursor: pointer;
}

.image-man img {
    display: block;
    position: relative;
    width: 360px;
    height: 260px;
}

.image-man .image-man-content {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(18, 26, 63, 0.3), rgba(33, 22, 22, 0.7));
    line-height: 2;
}

.image-man,
.image-man-header {
    margin-top: 80px;
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: 400;
}

.image-man p {
    color: #F16D7F;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}

.image-child {
    position: relative;
    width: 360px;
    text-transform: uppercase;
    margin-left: 30px;
}

.image-child:hover {
    cursor: pointer;
}

.image-child img {
    display: block;
    position: relative;
    width: 360px;
    height: 260px;
}

.image-child .image-child-content {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(18, 26, 63, 0.3), rgba(33, 22, 22, 0.7));
    line-height: 2;
}

.image-child,
.image-child-header {
    margin-top: 80px;
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: 400;
}

.image-child p {
    color: #F16D7F;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}

.image-accessories {
    position: relative;
    width: 1140px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 230px;
}

.image-accessories:hover {
    cursor: pointer;
}

.image-accessories img {
    display: block;
    position: relative;
    width: 1140px;
    height: 180px;
}

.image-accessories .image-accessories-content {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(18, 26, 63, 0.3), rgba(33, 22, 22, 0.7));
    padding-top: 65px;
    line-height: 2;
}

.image-accessories,
.image-accessories-header {
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: 400;
}

.image-accessories p {
    color: #F16D7F;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}

.content_items {
    text-align: center;
    margin-top: 98px;
    margin-bottom: 48px;
}

.fetured_h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
}

.fetured_h4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.card-product-first-line {
    display: flex;
    padding-left: 230px;
    font-family: 'Lato';
}

.card-product-second-line {
    display: flex;
    padding-left: 230px;
    margin-top: 30px;
    font-family: 'Lato';
}

.products{
    display: flex;
    flex-wrap: wrap;
    padding-left: 230px;
    font-family: 'Lato';
    margin-top: 65px;
}

.products-item {
    width: 360px;
    background: #F8F8F8;
    margin-right: 30px;
    position: relative;
    margin-bottom: 30px;
}

.products-item:hover .products-item-btn {
    display: flex;
}

.products-item:hover .products-item-btn:hover {
    background-color: #ccc;
    color: #000;
}

.products-item:hover .products-item-btn:hover svg {
    fill: #000;
}

.products-item:hover .products-item-btn:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.products-item:hover .products-item-btn:active svg {
    fill: #fff;
}

.products-item:hover .products-item-photo {
    filter: brightness(50%);
}

.products-item-photo {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.products-item-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 38.3%;
    min-height: 43px;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 188px;
    left: 32.7%;
    padding: 0;
    outline: none;
}

.products-item-content{
    padding-top: 24.35px;
    padding-left: 18px;
    padding-bottom: 20px;
}

.products-item-btn svg {
    fill: #fff;
    margin: 0 11px 0 0;
}

.products-item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 12.65px;
    text-transform: uppercase;
}

.products-item-txt{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.products-item-prise {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
}

.button_product {
    min-height: 47px;
    width: 214px;
    border: 1px solid #FF6A6A;
    background-color: #ffffff;
    margin-left: 695px;
    margin-top: 18px;
    padding: 0;
    outline: none;
}

.button_product_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

.button_product:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px 0px rgba(33, 33, 33, 0.35);
}

.block-information {
    background-color: #222224;
    height: 341px;
    margin-top: 95.5px;
    padding-top: 104px;
    display: flex;
    padding-left: 230px;
    padding-top: 104px;
    font-family: 'Lato';
}

.information-delivery,
.information-sales,
.information-quality {
    width: 360px;
    text-align: center;
}

.information-sales,
.information-quality {
    margin-left: 30px;
}

.content-information-delivery,
.content-information-sales,
.content-information-quality {
    color: #FBFBFB;
    margin-top: 28.07px;
}

.header-information-delivery,
.header-information-sales,
.header-information-quality {
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
}

.text-information-delivery,
.text-information-sales,
.text-information-quality {
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    margin-top: 16px;
}

.review-subscribe {
    background-image: url(img/photo%20subscribe.jpg);
    min-height: 448px;
    padding-left: 230px;
    display: flex;
    font-family: 'Lato';
}

.review {
    text-align: center;
    margin-right: 223.26px;
    padding-top: 97px;
}


.review-text {
    width: 359.45px;
    margin-top: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.subscribe {
    padding-top: 150px;
    text-transform: uppercase;
    width: 557px;
    text-align: center;
}

.subscribe-header {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
    text-align: center;
}

.subscribe-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    margin-top: 10px;
    text-align: center;
}

.field-subscribe {
    height: 49px;
    width: 256px;
    background-color: #E1E1E1;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 39px;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    padding: 0;
    text-align: inherit;
    outline: none;
}

.button-subscribe {
    height: 49px;
    width: 102px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background: #F16D7F;
    margin-left: 0;
    border: 0;
    padding: 0;
    outline: none;
}

.button-subscribe:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px 0px rgba(33, 33, 33, 0.35);
}

.button-subscribe-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    padding: 0;
}

.page-footer {
    display: flex;
    padding-left: 235px;
    background-color: #222224;
    height: 79px;
}

.footer-copyright {
    color: #FBFBFB;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-top: 30px;
    width: 332px;
    margin-right: 655px;
}

.social {
    display: flex;
    margin-top: 14px;
}

.social a {
    width: 31.45px;
    height: 32px;
    background: #fff;
    margin: 0 10px 10px 0;
}

.facebook-img {
    margin-top: 8px;
    margin-left: 11.55px;
}

.instagram-img {
    margin-top: 8.86px;
    margin-left: 7.95px;
}

.pinterest-img {
    margin-top: 8.2px;
    margin-left: 9.93px;
}

.twitter-img {
    margin-top: 9.5px;
    margin-left: 7.95px;
}

.facebook a:hover {
    background: #3b5998;
    color: #fff;
}

.instagram a:hover {
    background: #3f729b;
    color: #fff;
}

.pinterest a:hover {
    background: #c8232c;
    color: #fff;
}

.twitter a:hover {
    background: #00acee;
    color: #fff;
}
