*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 1600px;
}

.main-header{
    min-height: 75px;
    width: 100%;
    background: #222222;
}

.logo{
    margin-left: 265px;
}

.search{
    margin-left:  31px;
    margin-top: 28px;
}

.search:hover {
  cursor: pointer;
}

.menu_pic{
    margin-left: 859px;
}

.profile{
    margin-left: 31px;
}

.basket{
    margin-left: 31px;
}

.preview-header{
    display: flex;
    background: #F1E4E6;
    background-image: url(img/Background.png);
    padding-left: 864px;
    height: 764px;
}

.band{
    margin-right: 4%;
    width: 12px;
    height: 92px;
    margin-top: 290px;
}
 
.menu_pic:hover {
    cursor: pointer;
}
 
.main-nav-list{
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    display: none;
}

.main-nav-list{
    text-decoration: none;
    color: #6F6E6E;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.main-nav-list:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.categories{
    display: flex;
    background: #F8F3F4;
    height: 148px;
    padding-left: 230px;
    text-transform: uppercase;
    font-family: 'Lato';
}

.categories-name{
    margin-top: 59px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.categories-name-home{
    margin-left: 737px;
    margin-top: 65px;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.categories-name-men{
    margin-top: 65px;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    margin-left: 5px;
}

.categories-name-choice{
    margin-top: 65px;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-left: 5px;
}

.filters{
    height: 134px;
    visibility: hidden;
}

.card-product-first-line{
    display: flex;
    padding-left: 230px;
    font-family: 'Lato';
}

.card-product-second-line,
.card-product-fird-line{
    display: flex;
    padding-left: 230px;
    margin-top: 30px;
    font-family: 'Lato';*/
}

.card-man-jacket{
    width: 360px;
    background: #F8F8F8;
    margin-right: 30px;
    position: relative;
}

.card-man-jacket:hover .card-man-jacket-btn{
    display: flex;
}
    
.card-man-jacket:hover .card-man-jacket-btn:hover{
    background-color: #ccc;
    color: #000;
}

.card-man-jacket:hover .card-man-jacket-btn:hover svg{
    fill:#000;
}

.card-man-jacket:hover .card-man-jacket-btn:active{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.card-man-jacket:hover .card-man-jacket-btn:active svg{
    fill:#fff;
}

.card-man-jacket:hover .card-man-jacket-photo{
    filter: brightness(50%);
}

.card-man-jacket-photo {
    display: block;
    width: 100%;
    margin: 0 auto;   
}

.card-man-jacket-btn{
  display: none;
  justify-content: center;
  align-items: center;
  width: 38.3%;
  min-height: 43px;
  border: 1px solid #FFFFFF;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 188px;
  left: 32.7%;
}

.card-man-jacket-btn svg {
  fill: #fff;
  margin: 0 11px 0 0;
}

.card-woman-costume{
    width: 360px;
    background: #F8F8F8;
    margin-right: 30px;
}

.card-man-hat{
    width: 360px;
    background: #F8F8F8;  
}

.card-man-pants{
    width: 360px;
    background: #F8F8F8;
    margin-right: 30px; 
}

.card-woman-jacket{
    width: 360px;
    background: #F8F8F8;
    margin-right: 30px;  
}

.card-woman-band{
    width: 360px;
    background: #F8F8F8;   
}

.content-woman-jacket,
.content-man-pants,
.content-man-jacket,
.content-woman-costume,
.content-man-hat,
.content-woman-band{
    padding-top:  24.35px;
    padding-left: 18px;
    padding-bottom: 20px;
}

.content-man-jacket-header,
.content-woman-costume-header,
.content-man-hat-header,
.content-man-pants-header,
.content-woman-jacket-header,
.content-woman-band-header{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 12.65px;
}

.text-man-jacket,
.text-woman-costume,
.text-man-hat,
.text-man-pants,
.text-woman-jacket,
.text-woman-band{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.prise-man-jacket,
.prise-woman-costume,
.prise-man-hat,
.prise-man-pants,
.prise-woman-jacket,
.prise-woman-band{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
}

.button_product{
    min-height: 47px;
    width: 214px;
    border: 1px solid #FF6A6A;
    background-color: #ffffff;
    margin-left: 695.5px;  
    margin-top: 48.5px;
    padding: 0;
    outline: none;
}

.button_product_text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376; 
}

.button_product:hover{
    cursor: pointer;
    box-shadow: 0 1px 1px 0px rgba(33, 33, 33, 0.35);
}

.block-information{
    background-color: #222224;
    height: 341px;
    margin-top: 95.5px;
    padding-top: 104px;
    display: flex;
    padding-left: 230px;
    padding-top: 104px;
    font-family: 'Lato';
}

.information-delivery,
.information-sales,
.information-quality{
    width: 360px;
    text-align: center;
}

.information-sales,
.information-quality{
    margin-left: 30px;
}


.content-information-delivery,
.content-information-sales,
.content-information-quality{
    color: #FBFBFB;
    margin-top: 28.07px;
}

.header-information-delivery,
.header-information-sales,
.header-information-quality{
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
}

.text-information-delivery,
.text-information-sales,
.text-information-quality{
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    margin-top: 16px;
}

.review-subscribe{
    background-image: url(img/photo%20subscribe.jpg);
    min-height: 448px;
    padding-left: 230px;
    display: flex;
    font-family: 'Lato';      
}

.review{
    text-align: center;
    margin-right: 223.26px;
    padding-top: 97px;
}


.review-text{
    width: 359.45px;
    margin-top: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.subscribe{
   padding-top: 150px;
    text-transform: uppercase;
    width: 557px;
    text-align: center;
}

.subscribe-header{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
    text-align: center;
}

.subscribe-text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    margin-top: 10px;
    text-align: center;
    
}

.field-subscribe{
    height: 49px;
    width: 256px;
    background-color: #E1E1E1;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 39px;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    padding: 0;
    text-align: inherit;
    outline: none;
}

.button-subscribe{
    height: 49px;
    width: 102px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background: #F16D7F;
    margin-left: 0;
    border: 0;
    padding: 0;
}

.button-subscribe:hover{
    cursor: pointer;
    box-shadow: 0 1px 1px 0px rgba(33, 33, 33, 0.35);
}

.button-subscribe-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    padding: 0;
}

.page-footer{
    display: flex;
    padding-left: 235px;
    background-color: #222224;
    height: 79px;
}

.footer-copyright{
    color: #FBFBFB;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-top: 30px;
    width: 332px;
    margin-right: 655px;
}

.social{
    display: flex;
    margin-top:14px; 
}

.social a{
    width: 31.45px;
    height: 32px;
    background: #fff;
    margin: 0 10px 10px 0;
}

.facebook-img {
    margin-top: 8px;
    margin-left: 11.55px;
}

.instagram-img{
    margin-top: 8.86px;
    margin-left: 7.95px;  
}

.pinterest-img{
    margin-top: 8.2px;
    margin-left: 9.93px;
}

.twitter-img{
    margin-top: 9.5px;
    margin-left: 7.95px; 
}

.facebook a:hover {
    background: #3b5998; 
    color: #fff;
}

.instagram a:hover {
    background: #3f729b; 
    color: #fff;
}

.pinterest a:hover {
    background: #c8232c; 
    color: #fff;
}

.twitter a:hover {
    background: #00acee; 
    color: #fff;
}



