*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 1600px;
}

.page-header{
    min-height: 75px;
    width: 100%;
    background: #222222;
}

.logo{
    margin-left: 265px;
}

.search{
    margin-left:  31px;
    margin-top: 28px;
}

.search:hover {
  cursor: pointer;
}

.menu_pic{
    margin-left: 859px;
}

.profile{
    margin-left: 31px;
}

.basket{
    margin-left: 31px;
}

.slider{
    display: flex;
    background:#F1E4E6;
    height: 764px;
}

.img_man{
    width: 800.58px;
    height: 764px;
    margin-left: 0px;
}

.band{
    margin: 17.53% 0.25% 88.06% 4%;
    width: 12px;
    height: 92px;
}
 
.menu_pic:hover {
  cursor: pointer;
}
 
.menu{
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    display: none;
}

.menu a{
    text-decoration: none;
    color: #6F6E6E;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.menu:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.text_content{
  margin-top: 17.54%;
}

.content{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    width: 377px;
    color: #222222;
}

.content_1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44,4px;
    color: #222222;
}

.content_2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44,4px;
    color: #F16D7F;
}

.photo{
    margin-top: 4.62%;
    text-align: center;
}

.photo_2,
.photo_3{
    margin-left: 30px;
}

.photo_4{
    margin-top: 30px;
}

.photo_1:hover{
    opacity: 0.3;
    cursor: pointer;
}

.photo_2:hover{
    opacity: 0.3;
    cursor: pointer;
}

.photo_3:hover{
    opacity: 0.3;
    cursor: pointer;
}

.photo_4:hover{
    opacity: 0.3;
    cursor: pointer;
}

.content_items{
    text-align: center;
    margin-top: 98px;
    margin-bottom: 48px;
}

.fetured_h2{
font-family: 'Lato';
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
}

.fetured_h4{
font-family: 'Lato';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
}



